div
	label Email:
	input(name='user[email]', value=user.email || '')

div
	label Password:
	input(name='user[password]', value=user.password || '', type='password')

//- name: Assigns a name to the given field so that you may reference it later.
//- value: assigns a predefined value to the form element.